/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/js/*
/storage/*.key
/public/images
/vendor
/resources/lang/bg.json
/resources/lang/en.json
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env.bak
